h1{
    position: relative;
    text-align: center;
    border-top: 10rem;
    color: yellow;
    margin-left: -25rem;
}
form{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRXqr2I9RnZ8DiikLuhMEPF-BUkvwKeNyif54hojT6sePp64budDFKKJGCxKw2abD1Y7A&usqp=CAU);
    background-size: cover; 
    background-repeat: no-repeat;
    
    margin-left:10%;
}
#formstyle{
    width: 80%;
    font-size: 2rem;
    font-weight: 900;
    padding: 20rem;
    padding-left: 20rem;
    padding-top: 10rem;
}
input{
    height: 30px;
    border-top: 20rem;
}
::placeholder{
    color: white;
    font-weight: 900;
}
h2{
    color: #0000ff;
}
form p{
    font-size: 20px;
    color: white;

}
p{
    font-weight: 600;
    text-align: center;
}
