<div class="header" id="Home">
    <h1>EMELDA PEREZ</h1>
    <h2><em>Github Account Details:</em></h2>
    <h2>Username: acetips</h2>
    <h2>Profile photo:</h2>
    <img src="https://avatars.githubusercontent.com/u/87390650?v=4">
    <h1>My Repositories</h1>
    <!-- <img src="img/IMG-20210829-WA0005.jpg"> -->
    <ul>
        <li>Delani Studio</li>
        <p>This repo contains a project on Delani Studio, which offers design, development, and product development services.</p>
        <li>Akan Project</li>
        <p>This repository entails my project on a web application that autogenerates a user's Akan name. </p>
        <li>Pizzeria-de-Perez</li>
        <p>This is a website for a restaurant called Pizzería de Pérez. </p>
        <li>Portfolio Landing Page</li>
        <p>This repository contains my project on my portfolio's landing page, which I created using HTML and CSS. Inside the webpage is a description of who I am, a list of the projects I have worked on as well as my contact details.</p>
        <li>Quotes App</li>
        <p>This is an app that generates and deletes quotes.</p>
    </ul>
</div>